<!DOCTYPE html>
<html lang="en" class="no-js">



<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="./image/135-1352730_download-pixel-coin-png-png-images-8-bit.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Meter - Trader Helper</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.css">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
							<a href="#">
								<img class="header-logo-image" src="src/images/logo-removebg-preview.png" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <!-- The html below describes the header section of our website-->
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">Welcome to CryptoMeter!</h1>
	                        <p class="hero-paragraph">At CryptoMeter we have designed models to predict the value of your favorite cryptocurrencies.</p>
	                        <div class="hero-cta"><a class="button button-primary" href="#">Watch Demo Video</a><button id="predict-crypto" class="button" type=button href="#">Predict Crypto</button></div>
						</div>
						<div class="hero-figure anime-element">
							<svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
								<rect width="528" height="396" style="fill:transparent;" />
							</svg>
							<div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
							<div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
							<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
							<div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
							<div class="hero-figure-box hero-figure-box-05"></div>
							<div class="hero-figure-box hero-figure-box-06"></div>
							<div class="hero-figure-box hero-figure-box-07"></div>
							<div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
							<div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
							<div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
						</div>
                    </div>
                </div>
            </section>

            <!-- This section gives the user some insight into the service and who created it-->
            <section class="features section">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-01.svg" alt="Feature 01">
                                    </div>
                                    <h4 class="feature-title mt-24">What is this?</h4>
                                    <p class="text-sm mb-0">CryptoMeter is a software designed to help traders know what to expect. This software will give you insight to the current state of cryptocurrencies, and what the predicted prices are going to be tomorrow, so that you can buy or sell accordingly. Please note that this is NOT FINANCIAL ADVICE.</p>
                                </div>
                            </div>
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-02.svg" alt="Feature 02">
                                    </div>
                                    <h4 class="feature-title mt-24">How does it work?</h4>
                                    <p class="text-sm mb-0">At CryptoMeter, we understand the connection between public perception and cryptocurrencies value. We have designed a model to relate the sentiment score of thousands of tweets related to cryptocurrencies, and related this to the price of cryptocurrencies.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-03.svg" alt="Feature 03">
                                    </div>
                                    <h4 class="feature-title mt-24">About Us</h4>
                                    <p class="text-sm mb-0">We are a group of students from the University of Toronto. We have a passion for cryptocurrencies and technology. We have developed this to help others passionate about crypto, just like us.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!--Displaying the graphs of the chosen cryptos.-->
            <section class="pricing section" id="graphs">
                <div class="container-sm">
                    <div class="pricing-inner section-inner">
                        <div class="pricing-header text-center">
                            <h2 class="section-title mt-0">Current & Predicted Prices</h2>
                            <p class="section-paragraph mb-0">See the trends in the current Bitcoin and Ethereum prices.</p>
                        </div>
                        
                        <iframe src="https://widget.coinlib.io/widget?type=chart&theme=dark&coin_id=859&pref_coin_id=1505" width="100%px" height="500px" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;"></iframe>
                        <center><p class="feature text-center is-revealing" id="bitCoinParagraph">The price of Bitcoin is predicted to change to: </p></center>
                        <iframe src="https://widget.coinlib.io/widget?type=chart&theme=dark&coin_id=145&pref_coin_id=1505" width="100%" height="500px"  marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;"></iframe>
                        <center><p class="feature text-center is-revealing" id="ethParagraph">The price of Bitcoin is predicted to change to: </p></center>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="dist/js/main.min.js"></script>
    <script>
        function scroll() {
            document.getElementById('graphs').scrollIntoView({
            behavior: 'smooth'
            });
        }

        a = document.getElementById("predict-crypto")
        a.addEventListener('click', scroll)
    </script>
    <script>
        fetch('http://127.0.0.1:5000/test')
         .then(function (response) {
             console.log(response);
             return response.json();
         }).then(function (text) {
             console.log(text)
             document.getElementById("bitCoinParagraph").innerHTML = "The price of Bitcoin tomorrow is predicted to change to: ...$" + text.btc_price;
             document.getElementById("ethParagraph").innerHTML = "The price of Ethereum tomorrow is predicted to change to: ...$" + text.eth_price;
         });
    </script>
</body>
</html>
